site_name: SDEVEN Software Development & Engineering Methodology

nav:
    - Home: 'index.md'
    - Methodology index: 'SDEVEN.00_INDEX.md'
    - Methodology procedures:
        - Administrative (10-ADM): 'SDEVEN.10_ADM.md'
        - Practices (20-RENPRA): 'SDEVEN.20_RENPRA.md'
        - Versioning (30-RENVER): SDEVEN.30_RENVER.md
        - Branches (40-BRAN): 'SDEVEN.40_BRAN.md'
        - Operational Meetings(45-OPME) - Incoming...: 'wip.md'
        - Change Management (50-CHGMNG): 'SDEVEN.50_CHGMNG.md'
        - Development and changes logging (55-TRACE): 'SDEVEN.55_TRACE.md'
        - Release management (60-RELM): 'SDEVEN.60_RELM.md'
        - Project structure (62-PSTR): 'SDEVEN.62_PSTR.md'
        - Design approaches and their review and change (65-DEREV): 'SDEVEN.65_DEREV.md'
        - Code review (68-COREV): 'SDEVEN.68_COREV.md'
        - Licenses & products / models (70-LIP): 'SDEVEN.70_LIP.md'
        - Code of Conduct. Ethics, Professional and Legal Issues (75-CCEP): 'SDEVEN.75_CCEP.md'
        - Conventions & principles (80-COPRI): 'SDEVEN.80_COPRI.md'
        - Phases, Processes and Deliverables (#FIXME-code-here): 'SDEVEN.90_RENBLU.md'
        - Confidentiality & Classification (#FIXME-code-here): 'SDEVEN.95_RENCOCL.md'
    - Methodology appendices:
        - Appendix (A) Sematic Versioning (SEMVER): 'Appendix_A_Semantic_versioning.md'
        - Appendix (B) System Design Document Template (810 DSGN): 'Appendix_B_DSGN_Content_Index.md'
        - Appendix (C) Status Report Template (STATUSR): 'Appendix_C_Status_Report.md'
        - Appendix (D) ROADMAP Template (RMAP): 'Appendix_D_ROADMAP_template.md'
        - Appendix (Q) FAQ. Frequently Asked Questions (FAQ): 'Appendix_Q_faq.md'
    - About SDEVEN: 'About_SDEVEN.md'
    - License: 'LICENSE.md' #NOTE - remain ? or drop from here (is in documenation...)
    - Copyright (C) RENware Software Systems: 'http://renware.eu'



markdown_extensions:
    - admonition
    - tables
    - pymdownx.details
    - pymdownx.superfences:
        custom_fences: #NOTE: [petre iordanescu]: is very important to respect syntax ref `-` character at beginning of items (otherwise not right JSON result !)
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format
    - footnotes
    - pymdownx.critic
    - pymdownx.caret
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.tilde
    - def_list
    - pymdownx.tasklist:
        custom_checkbox: true


#NOTE required to render `mermaid` diagrams
extra_javascript:
  - optionalConfig.js
  - https://unpkg.com/mermaid@9.4.0/dist/mermaid.min.js
  - extra-loader.js



plugins:
    - search
    - include-markdown
    # - pdf-export # this version does not render mermaid in PDF docs
    - pdf-with-js:
        enable: true
    - print-site: #NOTE: Make sure to put print-site to the bottom of the plugin list because other plugins might alter your site (like the navigation)
        add_to_navigation: true
        print_page_title: 'SDEVEN full document'
        add_full_urls: true
        add_table_of_contents: true



#NOTE provide material theme
theme:
    logo: pictures/REN_stamp_logo_transparent.png
    name: material
    features:
        # - navigation.tabs # left navigation side bar, all level 1 will be shown as top navigation bar
        - navigation.tracking
        - navigation.tabs.sticky
        - navigation.path
    palette:
        primary: light blue # see https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/ for other color options
    icon:
        admonition:
            note: fontawesome/solid/note-sticky
            abstract: fontawesome/solid/book
            info: fontawesome/solid/circle-info
            tip: fontawesome/solid/bullhorn
            success: fontawesome/solid/check
            question: fontawesome/solid/circle-question
            warning: fontawesome/solid/triangle-exclamation
            failure: fontawesome/solid/bomb
            danger: fontawesome/solid/skull
            bug: fontawesome/solid/robot
            example: fontawesome/solid/flask
            quote: fontawesome/solid/quote-left



#NOTE or can use readthedocs theme but should check mermaid diagrams
# theme: readthedocs



#NOTE directory where start to search or markdown sources
docs_dir: './SDEVEN_content_docs'


#NOTE root directory where to be generated portal (should be `./static_portal`)
site_dir: './static_portal'



#NOTE other useful configurations
use_directory_urls: false # allow link between pages to work properly as static site an "callable" as `file:///...`


